* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.horse {
  border: 3px solid #1876ba;
  margin: 10px;
  width: 800px;
  display: inline-flex;
}

.horse img {
  width: 200px;
  max-height: 100%;
  position: relative;
}

.finishLine {
  position: absolute;
  top: 0;
  left: 850px;
  width: 8px;
  height: 450px;
  background-color: brown;
}

.startBtn {
  cursor: pointer;
  border: 2px solid rgb(252, 219, 178);
  background-color: bisque;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 1%;
}

.selectHorse {
  margin: 1%;
}

.wallet {
  margin: 1%;
}

.depositBtn {
  cursor: pointer;
  border: 2px solid rgb(79, 141, 143);
  background-color: cadetblue;
  border-radius: 5px;
  padding: 0 10px;
}

audio {
  display: none;
}
